<div>
  {{#each products}}

    <ul>
      <h3>{{this.title}}</h3>
      <p>{{this.description}}</p>
      <p>{{this.price}}</p>
      <p>{{this.stock}}</p>
      <p>{{this.category}}</p>
    </ul>

  {{/each}}
</div>