<div id="app" class="p-4 bg-slate-800/95 h-auto">
  <h1
    class="flex p-4 mb-4 justify-center font-mono text-2xl text-slate-200"
  >Welcome to NGaming!</h1>

  <div class="w-auto mx-2">
    <br /><hr /><br />
  </div>

  <h1 class="flex p-2 justify-center font-mono text-2xl text-slate-200">Product
    details for ID
    {{product._id}}</h1>
  <div id="productDetail" class="flex justify-center m-6">
    <div
      class="max-w-4xl border rounded-lg shadow bg-gray-700/50 border-gray-600"
      id="{{product._id}}"
    >
      <div class="flex flex-wrap w-full p-2 justify-evenly">
        {{#each product.thumbnails}}
          <img
            src="http://localhost:8080/{{this}}"
            alt="product image"
            class="aspect-square max-h-64 m-2 ring-4 rounded-xl"
          />
        {{/each}}
      </div>

      <div class="px-5 pb-5">
        <h5
          class="text-2xl font-semibold tracking-tight text-white text-center"
        >{{product.title}}</h5>
        <p class="font-semibold tracking-tight text-white m-2">Description:
          {{product.description}}</p>
        <p class="font-semibold tracking-tight text-white m-2">Category:
          {{product.category}}</p>
        <p class="font-semibold tracking-tight text-white m-2">Available stock:
          {{product.stock}}</p>
        <p class="font-semibold tracking-tight text-white m-2">Product code:
          {{product.code}}</p>
        <form id="addToCartForm-{{product._id}}">
          <div class="flex items-center justify-between">
            <p class="text-3xl font-bold text-white pt-2">${{product.price}}</p>
            <button
              type="submit"
              class="text-slate-100 bg-blue-600 hover:bg-blue-700 active:bg-blue-900 focus:ring-2 focus:outline-none focus:ring-blue-700 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center -mb-3 {{#compare role "===" "admin"}}disabled:bg-slate-500 line-through{{/compare}}"
              {{#compare role "===" "admin"}}disabled{{/compare}}
              id="{{cartId}}"
            >Add to cart 🛒</button>
          </div>
        </form>
        <p class="text-lg font-thin text-white mt-6" id="prodStock" data-stock="{{product.stock}}">Stock: {{product.stock}} units</p>
      </div>
    </div>
  </div>
  <div class="w-auto mx-2">
    <br /><hr /><br />
  </div>
  <div class="flex justify-between w-auto m-2 bg-gray-800 px-8 py-8 rounded-xl">
    <h3 class="flex p-2 justify-center font-mono text-lg text-slate-200">Go back
      to the homepage:</h3>
    <a href="/">
      <button
        class="text-slate-100 bg-blue-600 hover:bg-blue-700 active:bg-blue-900 focus:ring-2 focus:outline-none focus:ring-blue-700 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center mr-2"
      >Take me home! 🏚️</button>
    </a>
  </div>
  <div class="w-auto mx-2">
    <br /><hr /><br />
  </div>
  <div class="flex justify-between w-auto m-2 bg-gray-800 px-8 py-8 rounded-xl">
    <h3 class="flex p-2 justify-center font-mono text-lg text-slate-200">Check
      our work with Socket.io, MongoDB and Mongoose:</h3>
    <a href="/realTimeProducts">
      <button
        class="text-slate-100 bg-blue-600 hover:bg-blue-700 active:bg-blue-900 focus:ring-2 focus:outline-none focus:ring-blue-700 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center mr-2"
      >Go to Real Time section! 🛩️</button>
    </a>
  </div>
  <div class="w-auto mx-2">
    <br /><hr /><br />
  </div>
  <div class="flex justify-between w-auto m-2 bg-gray-800 px-8 py-8 rounded-xl">
    <h3 class="flex p-2 justify-center font-mono text-lg text-slate-200">Chat
      with us:</h3>
    <a href="/chat">
      <button
        class="text-slate-100 bg-blue-600 hover:bg-blue-700 active:bg-blue-900 focus:ring-2 focus:outline-none focus:ring-blue-700 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center mr-2"
      >Go to chat section! 💬</button>
    </a>
  </div>
</div>
<script
  src="
https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js
"
></script>
<script src="/js/product.js"></script>